# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
library/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
library/coverage

# next.js
/.next/
library/.next
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/.idea

# VS Code - ignore personal settings
.vscode/settings.json
.vscode/launch.json
!.vscode/settings.default.json
.vscode/
package-lock.json

library/supabase